<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> classic.tips · Stay Simple<br>
      <a href="https://classic.tips" target="_blank" rel="noopener">classic.tips</a> · <a href="https://blog.classic.tips" target="_blank" rel="noopener">blog.classic.tips</a>
    </div>
  </div>
</footer>